#slide{
	position: relative;
	overflow: hidden;
}
#slide img{
	position: absolute;
	transition:left 1s;
	-moz-transition:left 1s; /* Firefox 4 */
	-webkit-transition:left 1s; /* Safari and Chrome */
	-o-transition:left 1s; /* Opera */
}
#slide div{
	display: none;
	width: 45px;
	height: 100px;
	cursor: pointer;
	z-index: 999;
	opacity: 0.5;
}
#slide-pre-btn{
	background: url("../img/button.png");
	position: absolute;
	top: 50%;
	left: 10px;
	margin-top: -50px;
}
#slide-next-btn{
	background: url("../img/button.png");
	background-position: -55px 0;
	position: absolute;
	top: 50%;
	right: 10px;
	margin-top: -50px;
}